{% extends 'index.html' %}
{% block title %} Welcome {% endblock %}

{% block header %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<title>Email Authentication</title>
<link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/sign-in/">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>
<link href="../static/css/login.css" rel="stylesheet">

{% endblock %}


{%block mainContent %}


<body class="text-center">
    <div class="form-signin">
        <p id="alert"></p>

        <h1 class="h3 mb-3 font-weight-normal">Hi, {{name}}</h1>
        <h1 class="h3 mb-3 font-weight-normal">Verify OTP sent to {{email}}</h1>
        <input type="number" name="otp" id="otp" class="form-control"><br>
        <button onclick="check()" class="btn btn-lg btn-primary btn-block">Verify</button>
        <a href="/logout" class="btn btn-block btn-info mt-3">Logout</a>
    </div>
</body>

</div> -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script type="text/javascript">
    function generateOTP() {

        // Declare a digits variable 
        // which stores all digits
        var digits = '0123456789';
        let OTP = '';
        for (let i = 0; i < 6; i++) {
            OTP += digits[Math.floor(Math.random() * 10)];
        }
        return OTP;
    }
    var email = {{ email| tojson}};
    var name = {{ name| tojson}};
    var otp = generateOTP();
    console.log("otp", otp);
    console.log("email", email);
    Email.send({
        Host: "smtp.gmail.com",
        Username: "team9.authentication@gmail.com",
        Password: "verification",
        To: email,
        
        From: "team9.authentication@gmail.com",
        Subject: "OTP Verification",
        Body: "OTP: " + otp,
    })
        .then(function (message) {
            console.log("message", message);
            setTimeout(function () {
                document.getElementById("alert").innerHTML = "<div class='alert alert-primary' role='alert'> Mail sent successfully !!!</div>";
            }, 2000);
        }).catch(function (err) {
            console.log(err);
        });

    function check() {
        var getOtp = document.getElementById('otp').value;
        if (otp == getOtp) {
            location.replace("/face_authentication?userName=" + name);
        }
        else {
            location.replace("/fail");
        }
    }
</script>
{% endblock %}