{% extends 'index.html' %}
{% block title %} Welcome {% endblock %}

{% block header %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<title>Password Authentication</title>
<link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/sign-in/">
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>
<link href="../static/css/login.css" rel="stylesheet">

{% endblock %}


{%block mainContent %}

<body class="text-center">
    <div class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Hi, {{name}}</h1>
        <h1 class="h3 mb-3 font-weight-normal">Confirm password for {{email}}</h1>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" name="password" placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" onclick="checkPass()" id="passLogin">Continue</button>
        <div>
            <a href="/logout" class="btn btn-block btn-info mt-3">Logout</a>
        </div>
    </div>
</body>
<script type="text/javascript">
    var password = {{ password| tojson}};
    function checkPass() {
        var getPass = document.getElementById('password').value;
        if (getPass == password) {
            location.replace("/email_authentication?userName=" + name);
        }
        else {
            location.replace("/fail");
        }
    }
</script>
{% endblock %}